body {
    color: #213e78;
}

.content {
    background-image: url("../img/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.navbar button p {
    color: white;
}

.nav-link {
    color: white;
}

/* Hiệu ứng, kết hợp với JS */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
}